header {
    background-color: orangered;
    margin-bottom: 20px;
}
.navbar-light .navbar-nav .nav-link {
    color: orangered(238, 62, 8); 
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white; 
}

.carousel-item {
    height: 300px;
}
.carousel-item img {
    max-height: 100%;
    object-fit: cover;
}

.product-image {
    max-width: 100%;   /* Faz a imagem se ajustar ao container */
    height: auto;      /* Mantém a proporção da imagem */
    max-height: 300px; /* Limita a altura máxima da imagem */
    object-fit: cover; /* Garante que a imagem não distorça, cortando o excesso */
    border-radius: 8px; /* Bordas arredondadas opcionais */
}

